<div class="content_rgt">
    <div class="register_sec">
        <h1>Forgot Password</h1>
        <form (submit)="sendPassword()">
            <ul>
                <li>
                    <span>Enter E-mail ID</span>
                    <input type="email" [(ngModel)]="user.email" placeholder="User@gmail.com">
                </li>
                <li>
                    <input type="submit" value="Submit">
                </li>
            </ul>
        </form>
    </div>
</div>
<welcome></welcome>
